<!--- check link of each product -->

<div class="card mb-3" >
    <a href="{{url_for('shop.get_product', id=product.id)}}" style="text-decoration: none; color: black">
        <img style="width: 100%; height: 450px; object-fit: contain" src="{{product.img}}" class="card-img-top" alt="{{product.name}}">
        <div class="card-body">
            <h5 class="card-title">{{product.name.title() | truncate(42)}}</h5>
            <p class="card-text">Category: {{product.group.name.title()}}</p>
            <span style='float: right;'>${{product.price/100}}</span>
        </div>
    </a>
    <form action="{{url_for('cart.add_product')}}" method="POST">
        <input type="hidden" name="product_id" value="{{product.id}}">
        <input type="hidden" name="quantity" id="" value="1">
        <button type='submit' class="btn btn-sm btn-warning float-right" >Add to Cart</button>
    </form>
</div>